* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCBEC8;
    height: 100%;
}

.carousel {
    background-color: #EAEAE9;
    position: relative;
}

.carousel .main {
    display: flex;
    max-width: 660px;
    box-sizing: border-box;
    overflow: hidden;
}

.carousel .item {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 0 10px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s linear;
}

.carousel .arrow-l {
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 100%;
    background-color: #EAEAE9;
    border-radius: 25px 0 0 25px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.carousel .arrow-r {
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 100%;
    background-color: #EAEAE9;
    border-radius: 0 25px 25px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
}

.carousel .disabledArrow {
    opacity: 0.7;
}

.carousel .arrow-l img,
.carousel .arrow-r img {
    cursor: pointer;
}


